<div class="row bg-dark text-white">
    <span class="col-6 text-center">Title and More Info</span>
    <span class="col-2 text-center">Rating</span>
    <span class="col-4 text-center">Release Date</span>
</div>
<%= render partial: 'movie', collection: @movies %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-8">
      <%= link_to movie.title, movie_path(movie) %>
    </div>
    <div class="col-2">
      <%= movie.rating %>
    </div>
    <div class="col-2">
      <%= movie.release_date.strftime('%F') %>
    </div>
  <% end %>
</div>
